body {
  margin: 0 auto;
  width: 1170px;
  background-color: ghostwhite;
  font-family: Sans-serif;
}

.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title{
    font-size: 38px;
  }

}

.create-list{
  width: 100px;
  height: 30px;
  background-color: skyblue;
  border: none;
  color: black;
  cursor: pointer;
  &:hover {
    box-shadow: 6px 6px 3px gray;
  }

}

.button-container {

}

.to-do{
  &__container{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
  }

  &__title {
    color: gray;
    font-size: 24px;
  }
  
  &__container-card {
    display: flex;
    flex-direction: column;
  }
}

